.conteiner {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
  
.top {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    background-color: #1B263B;
}
  
.title {
    color: white;
    height: 100%;
    width: 100%;
    font-size: 25px;
    
    font-weight: 300;
}
  
img {
    width: 100%;
    height: 100%;
}
.conteiner-img{
    width: 100%;
    height: 100%;
}
.mid{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 10px;
    padding: 10px;

}
.down{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    background-color: #1B263B;

}


input{
    background-color: #415A77;
    border-color: #415A77;
    border: solid #415A77;
    color: white;
    
}
h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.inputs {
    padding-left: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .piedra {
    margin-top: 20px; 
    font-size: 25px;
    padding: 5px;
    color:white;
    background-color: #415A77;
    border-color: #415A77;
    border: solid #415A77;
  }